<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
  <head>
    <title>Contact Form - Availability Check</title>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
    <script type="text/javascript" src="js/modules/promise-tracker.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script src="js/datepicker/js/angular-datepicker.js"></script>
    <link rel="stylesheet" href="js/datepicker/css/angular-datepicker.css" type="text/css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  </head>
  <body class="container">
    <div class="col-md-6 col-md-offset-3">

    <h2>Availability Check</h2>

    <p>Please complete the form below. </br> </p>

    <div data-ng-controller="help">
      <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
      <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
      <form name="helpForm" novalidate role="form">
        <div class="form-group">
          <label for="in">Check In </label>
          <span class="label label-danger" data-ng-show="submitted && helpForm.in.$error.required">Required!</span>
          <datepicker date-format="dd-MMMM-yyyy">
            <input type="text" name="in" data-ng-model="in" class="form-control" required />
          </datepicker>
        </div>

        <div class="form-group">
          <label for="out">Check Out </label>
          <span class="label label-danger" data-ng-show="submitted && helpForm.out.$error.required">Required!</span>
          <datepicker date-format="dd-MMMM-yyyy">
            <input type="text" name="out" data-ng-model="out" class="form-control" required />
          </datepicker>
        </div>

        <div class="form-group">
          <label for="pax">How many Guest</label>
          <span class="label label-danger" data-ng-show="submitted && helpForm.pax.$error.required">Required!</span>
          <input type="number" name="pax" data-ng-model="pax" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="name">Your Name </label>
          <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">Required!</span>
          <input type="text" name="name" data-ng-model="name" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="email">Your E-mail address</label>
          <span class="label label-danger" data-ng-show="submitted && helpForm.email.$error.required">Required!</span>
          <span class="label label-danger" data-ng-show="submitted && helpForm.$error.email">Invalid email!</span>
          <input type="email" name="email" data-ng-model="email" class="form-control" required />  
        </div>

        <div class="form-group">
          <label for="subjectList">View and select any additional services or extras you might want, leave empty if you are ok with just the room.</label>
          <span class="label label-danger" data-ng-show="submitted && helpForm.subjectList.$error.required">Required!</span>
          <select name="subjectList" data-ng-model="subjectList" data-ng-options="id as value for (id, value) in subjectListOptions" class="form-control">
            <option value=""></option>
          </select>
        </div>

        <div ng-show="subjectList=='special'" class="form-group">
          <label for="comments">What are your requirements? You can write us a short message here.</label>
          <span class="label label-danger" data-ng-show="submitted && helpForm.comments.$error.required">Required!</span>
          <textarea name="comments" data-ng-model="comments" class="form-control"></textarea>
        </div>

        <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-default">Submit</button>
      </form>
    </div>

    </div>
  </body>
</html>
